/* <br>var(
  --main-orange: #f79901;
  --main-grey: #828282;
  --title-blue: #252b42;
  --text-p: #4d4d4d;
  --foot-background: #232120;

} */

.main-container {
  margin-bottom: 90px
}
.nav-container {
  display: flex;
  background-color: #232120;
  width: 100%;
  height: 72px;
  align-items: center;
  justify-content: space-around;
}
.nav-container .nav-image-menu {
  background-image: url(../assets/menu.png);
  width: 20px;
  height: 20px;
}

.nav-container .nav-image-logo {
  background-image: url(../assets/LOGO.png);
  width: 100px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: contain;
  
}
.nav-container .nav-button-cta > button {
  background-color: #f79901;
  border: none;
  height: 43px;
  border-radius: 5px;
  width: auto;
  color: white;
  letter-spacing: 1px;
 
}
.nav-container .nav-button-cta > button  > span{
  padding: 5px;
  background-image: url(../assets/arrow.png);

  background-repeat: no-repeat;
  background-size: contain;
 
}
.main-container .container-main-linear-gradient {
  position:relative;
  width: 100%;
  height: 480px;
  background: linear-gradient(337deg, #f79901 15%, rgb(0 0 0 / 5%) 67%);
  mix-blend-mode: darken;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  
}
.main-container .text-container {
  display: flex;
  flex-direction: column;
  text-align:center;

  
  
}
.main-container .text-container  > h1{
  font-size: 2rem;
  align-self: center;
  padding: 80px 19px;
  color: #252b42;

 

}

.main-container .main-linear-image-float {
  position: absolute;
  background-image: url(../assets/cover.png);
  height: 200px;
  width: 250px;
  left: calc(50% - 125px);
  background-size: contain;
  background-repeat: no-repeat;
  bottom: -71px;

  @media(min-width:600px) {
      display:none
  }
  
}
.third-ending {
  margin-bottom: 70px;
}

/*         -section2-             */

.second-text--container {
  text-align: center;
  font-size: 1.2rem;
  color: #252b42;
}
.second-text--container .second-barr {
 margin-bottom: 70px;
}
.second-ul--container {
  
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  width: 60%;
  margin: 0 auto;
  justify-items: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 70px;

}

.second-ul--container  li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-1 {
  background-image: url(../assets/audit.png);
      height: 38px;
  width: 37px;
  background-size: contain;
  background-repeat: no-repeat;
}
.item-2 {
  background-image: url(../assets/house.png);
      height: 38px;
  width: 37px;
  background-size: contain;
  background-repeat: no-repeat;

}
.item-3 {
  background-image: url(../assets/clarity_users-line.png);
      height: 38px;
  width: 37px;
  background-size: contain;
  background-repeat: no-repeat;

}
.item-4 {
  background-image: url(../assets/tax.png);
      height: 38px;
  width: 37px;
  background-size: contain;
  background-repeat: no-repeat;

}

/*           - Third -       */

.third-main--container {
  margin-top: 75px;
}

.third-title--container {
  width: 80%;
  margin:0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.third-paragraph--head {
  margin-top: 0;
  color: #f79901;
}
.third-card--container {
  width: 80%;
  margin: 0 auto;
  text-align: -webkit-center;
}

.card-container--flex {
  display: flex;
  flex-direction: column;
  gap: 25px;
  /* max-width: 500px; */
}

.cards-card1 {
  display: grid;
  grid-template-areas:
      "one one two"
      "three three three";
  grid-template-rows: minMax(90px,114px) 120px;
  grid-template-columns: 80px 80px minMax(90px,151px);
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
  justify-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 24px;
  border-radius: 14px;
  box-shadow: 6px 31px 44px 0px #d5d0d5cc;
  row-gap: 10px;
  

}
.third-paragraph {
  margin-top: 0;
  color: #252b42;
  font-size: 1.1rem;
  grid-area:one;
  text-align: left;
}

.third-card--img {
  background-image: url(../assets/icon.png);
  height: 118px;
  width: 137px;
  background-size: contain;
  background-repeat: no-repeat;
  grid-area: two;
}
.third-paragraph-long {
  grid-area: three;
  text-align: left;
}

.forth-main {
  height: 800px;
  background: linear-gradient(337deg, #f79901 15%, rgb(0 0 0 / 15%) 67%);
  border-radius: 14px;
  width: 100%;
  margin-bottom: 70px
}
.forth-image {
  background-image: url(../assets/media.png);
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 143px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 39px;
}

.forth-text-flex--container-main {

  border-radius: 10px 10px 1px 1px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  background: rgba(255, 255, 255, 0.5);
}
.forth-text-flex--container-middle {
 
  border-radius: 1px 1px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 2px;
  background: rgba(255, 255, 255, 0.5);
}
.forth-text-flex--container-down {

  border-radius: 1px 1px 10px 10px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}
.forth-inside-flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 20px 20px 5px 20px;
}
.forth-number-flex {
  height: 30px;
  width: 30px;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.forth-flex-title {
  font-size: 1rem;
  padding: 0 30px 0 8px;
 
  color: #252b42;
}
.forth-flex-paragraph {
  padding: 0 20px;
  text-align: left;
  margin: 0 0 20px 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #252B42;
}

/*        - fif -           */

.fifth-main {  
  width: 100%;
  margin-bottom: 70px
}

.fifth-text-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  align-items: center;
}
.fifth-container-first {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
}

.fifth-container-second {
  display: flex;
}

.fifth-title-title {
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
margin-left: 16px;
letter-spacing: 0.2px;
text-transform: capitalize;

}
.fifth-paragraph-paragraph {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
margin: 0 0 10px 10px;
color: #4D4D4D;
}


/*     - sixth -     */

.sixth-main {

 background-color: #232120;
  width: 100%;
  color: white;
 
}
.sixth-logo {
  background-image: url(../assets/LOGO.png);
  height: 18px;
  width: 80px;
  background-size: contain;
  background-repeat: no-repeat;
}
.sixth-body--container {
  width: 80%;
  margin:0 auto;

  padding-top:70px;
  padding-bottom:41px;
}
.sixth-footer-ul {
  padding: 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
}
         
.sixth-text-place {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 24px;
/* or 171% */
}
.sixth-underlogo-container {
  margin-bottom: 50px;
}
.sixth-footer-play-image{ 
  background-image: url(../assets/google-play.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 75px;
}
.sixth-footer-appstore-image {
  background-image: url(../assets/app-store.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 160px;
  height: 75px;

} /*          - footer         */
.footer-main-container{
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-end;
  background-color: #232120;
}
.footer-list-container {
  display:flex;
}
.footer-text {
  font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 24px;
padding-right:10px;
}

.text-footer-dos {
  padding-right: 10px;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
